@{
    ViewData["Title"] = "Ticket Page";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
@model ASI.Basecode.Services.ServiceModels.UserTicketViewModel

<!-- Main Content -->
<div class="container content">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">Create Ticket</h5>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data" asp-action="Create" asp-controller="UserTicket">
                        <div class="mb-3">
                            <label asp-for="Ticket.Title" class="form-label">Title</label>
                            <input asp-for="Ticket.Title" type="text" class="form-control" id="title" placeholder="Enter ticket title" required>
                            <span asp-validation-for="Ticket.Title" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Ticket.Description" class="form-label">Issue Description</label>
                            <textarea asp-for="Ticket.Description" class="form-control" id="ticketDescription" rows="3" placeholder="Describe the issue"></textarea>
                            <span asp-validation-for="Ticket.Description" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Ticket.CategoryId" class="form-label">Category</label>
                            <select asp-for="Ticket.CategoryId" class="form-select" id="category" asp-items="@(new SelectList(Model.TicketCategories, "CategoryId", "CategoryName"))">
                                <option value="">Select Category</option> <!-- Optional default option -->
                            </select>
                            <span asp-validation-for="Ticket.CategoryId" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label for="ticketAttachment" class="form-label">Attachments</label>
                            <input type="file" class="form-control" id="ticketAttachment">
                        </div>
                        <button type="submit" class="btn btn-danger w-100">Submit Ticket</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>