@model LoginViewModel
@using static ASI.Basecode.Resources.Views.Screen
@section styles {
    <link rel="stylesheet" href="~/css/login.css" />
}
@{
    ViewBag.LoginView = true;
    ViewData["Title"] = "Login Page";
}
<div>
    @Html.AntiForgeryToken()
</div>

<div class="login-card text-center">
    <!-- Logo -->
    <img src="~/img/icon-red.png" alt="Help Desk Logo" class="img-fluid">

    <!-- Login Label -->
    <h2>Login to Your Account</h2>

    <!-- Login Form -->
    <form method="post" action="/Account/Login" id="loginForm">
        <div class="mb-3">
            <label class="form-label visually-hidden">@Email</label>
            <input asp-for="Email" type="text" class="form-control" id="email" placeholder="Email">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label class="form-label visually-hidden">@Password</label>
            <input asp-for="Password" type="password" class="form-control" id="password" placeholder="Password" required>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="d-flex justify-content-between mb-3">
            <a asp-controller="Account" asp-action="ForgotPassword" class="text-dark small">Forgot Password?</a>
        </div>
        <div class="text-center pt-1 mb-4 pb-1 d-flex flex-column align-items-center">
            <button class="btn btn-dark w-100" type="submit">
                @Login
            </button>
        </div>
    </form>
</div>

@section scripts {
    <script>
        // Check for error message and display Toastr notification
        var errorMessage = '@TempData["ErrorMessage"]';
        if (errorMessage) {
            toastr.error(errorMessage);
        }
    </script>
}