@model ASI.Basecode.Data.Models.User
@{
    ViewBag.Title = "Add User";
}

<div class="content p-4" style="margin-left: 200px;">
    <h3 class="mb-4"><strong>Add User</strong></h3>

    <form asp-action="Create" method="post">
        <div class="mb-3">
            <label for="addUserName" class="form-label">Name</label>
            <input type="text" id="name" class="form-control"
                   asp-for="Name" placeholder="Enter user name" required />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label class="form-label" for="email">Email</label>
            <input type="email" id="email" class="form-control"
                   asp-for="Email" placeholder="Enter user email" required />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div c class="mb-3">
            <label class="form-label" for="roleId">Role</label>
            <select id="roleId" class="form-control" asp-for="RoleId" asp-items="ViewBag.Roles" required>
                <option value="">Select role</option> <!-- Optional default option -->
            </select>
            <span asp-validation-for="RoleId" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <label asp-for="TeamId" class="form-label">Team</label>
            <select asp-for="TeamId" class="form-select" id="teamLeader" asp-items="ViewBag.Teams">
                <option value="">Select team</option> <!-- Optional default option -->
            </select>
            <span asp-validation-for="TeamId" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label class="form-label" for="password">Password</label>
            <input type="password" id="password" class="form-control"
                   asp-for="Password" placeholder="Enter password" required />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div class="d-flex justify-content-end gap-2">
            <button type="submit" class="btn d-block btn-danger">Add User</button>
            <a asp-action="Index" class="btn btn-outline-danger">Cancel</a>
        </div>
    </form>
</div>


@section scripts {
    <script>
        // Check for error message and display Toastr notification
        var errorMessage = '@TempData["ErrorMessage"]';
        if (errorMessage) {
            toastr.error(errorMessage);
        }
    </script>
}
