@model ASI.Basecode.Services.ServiceModels.PreferenceViewModel
@using System.Security.Claims;
@{
    ViewData["Title"] = "Preference Page";
    if (User.FindFirst("Role")?.Value == "User")
    {
        Layout = "~/Views/Shared/_LayoutUser.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    var containerStyle = User.FindFirst("Role")?.Value != "User" ? "margin-left: 200px;" : "";
    var containerClass = User.FindFirst("Role")?.Value != "User" ? "container content  p-4" : "container content";
}

<div class="@containerClass" style="@containerStyle">
    <h3 class="mb-4"><strong>Preference</strong></h3>

    <h4>Notifications</h4>

    <form method="post" asp-action="EditPreference" asp-controller="Preference">
        <div class="form-check mb-4">
            <input class="form-check-input" type="checkbox" asp-for="ReceiveNotifications">
            <label class="form-check-label" for="flexCheckChecked">
                Receive Notifications
            </label>
        </div>

        <h4>Your Ticket View</h4>
        <div class="form-check">
            <input class="form-check-input" type="radio" asp-for="TicketViewMode" value="true">
            <label class="form-check-label" for="flexRadioDefault1">
                Table View
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" asp-for="TicketViewMode" value="false">
            <label class="form-check-label" for="flexRadioDefault2">
                Card View
            </label>
        </div>
        <div class="d-flex justify-content-end gap-2">
            <button type="submit" class="btn d-block btn-dark">Update Preference</button>
        </div>
    </form> 
</div>
